body {
  margin: 0;
  background-color: black;
  background-image: url("./components/sigil.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}


.character-index {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  width: 90%;
  justify-content: space-evenly;
}


.character-info {
  background-color: rgba(67, 9, 9, .8);
  border: 1px solid white;

  margin-bottom: 7em;

}


button {
  display: block;
  margin: 3px 5px;
  width: 22%;
  background-color: rgba(67, 9, 9, .8);
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 15px;
}

.Home {

  color: white;
  font-size: 36px;
  
}


.siteTitle {
border: 1px solid white;

}

h1{
  background-color:rgba(67, 9, 9, .8);
  font-family: 'Cinzel', serif;
  font-size: 72px;
  font-style: bold;
  letter-spacing: 3px;
  color: rgb(198, 179, 9);
}


h2 { 
  font-family: 'Cinzel', serif;
  color: white;

}

p{
  font-family: 'Cinzel', serif;
  color: rgb(148, 200, 178);
}

footer {
background-color: rgba(67, 9, 9, .8);

}