body {
  margin: 0;
  background-image: url("./components/sigil.png");
  background-color: red;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;


  }

header { 
  background-color: rgba(201, 176, 176, 0.6);
}


article{
  background-color: rgba(201, 206, 206, 0.6)
}

h1{
    color: red;

}

p{
  color: white;
}

h2 { 
    color: white;
}